<ul class="nav">
  <li><a href="{{ site.baseurl }}/documentation/">Documentation</a></li>
  <li><a href="{{ site.baseurl }}/documentation/installation/">Download</a></li>
  <li><a href="{{ site.baseurl }}/community/">Community</a></li>
  <li><a href="{{ site.baseurl }}/contribute/">Contribute</a></li>
  <li id="source-code" >
    <a href="https://github.com/jmsgrogan/PyChaste"><img src="{{ site.baseurl }}/resources/img/github-logo.png" alt="GitHub Logo" /></a>
    <div class="toptip">Source Code</div>
  </li>
  <li id="scala-lang-twitter">
    <a href="https://twitter.com/chaste_project"><img src="{{ site.baseurl }}/resources/img/twitter-logo-white.png" alt="Twitter Logo" /></a>
    <div class="toptip">Chaste on Twitter</div>
  </li>
</ul>
