---
layout: default
---

{% include headertop.html %}
{% include headerbottom.html %}

<div class="splash">
  <div class="darkblue-overlay">&nbsp;</div>
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="scala-logo">
          <img src="{{ site.baseurl }}/resources/img/chaste-60-75.jpg" alt="Chaste Logo" />
          <!-- <div class="spiral-logo"><img src="{{ site.baseurl }}/resources/img/scala-spiral-white.png"/></div> -->
          <!-- <div class="scala-text">Scala</div> -->
        </div>
        {% include navbar.html %}
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <div class="splash-text ontop">
          <h2 style="font-weight: 700;">Microvessel Chaste</h2>
          <p class="splash-pitch">
            A Chaste plug-in library for 3D spatial modelling of vascularized tissue, including discrete cells and vessels, PDE solvers, meshing and geometry tools.
          </p>
          <a class="learn-more-btn" href="{{ site.baseurl }}/documentation.html">Learn More</a>
          <p>&nbsp;</p>
        </div>
      </div>
    </div>
  </div>
</div>

 <div class="bullet-point-box">

  <div class="bullet-row-1-wrap">
    <div class="container">
      <div class="row">
        <div class="span4 bullet-point" id="java-interop">
          <h3>Network Analysis</h3>
          <p>Generate artificial vessel networks and analyse real and artificial network characteristics.</p>
        </div>
        <div class="span4 bullet-point" id="type-inference">
          <h3>Blood Flow</h3>
          <p>One-dimensional models of blood flow, non-linear rheology, haematocrit splitting and flow mediated structural adaptation.</p>
        </div>
        <div class="span4 bullet-point" id="concurrency-distribution">
          <h3>Chemical Transport</h3>
          <p>Reaction-diffusion equations for nutrient, growth factor and drug transport with discrete sinks and sources at cells and vessels.</p>
        </div>
      </div>
      <div class="code-snippet-arrow"></div>
    </div>
  </div>

  <div id="code-snippet-row1">
    <div class="container">
      <div class="row">
      </div>
    </div>
  </div>

  <div class="bullet-row-2-wrap">
    <div class="container">
      <div class="row">
        <div class="span4 bullet-point" id="traits">
          <h3>Angiogenesis</h3>
          <p>Sprouting angiogenesis using lattice and off-lattice models.</p>
        </div>
        <div class="span4 bullet-point" id="pattern-matching">
          <h3>Discrete Cells</h3>
          <p>Cell migration, proliferation and cell cycle progression based on sub-cellular ODE models.</p>
        </div>
        <div class="span4 bullet-point" id="higher-order-functions">
          <h3>Geometry and Meshing</h3>
          <p>Simple geometry manipulation using piece-wise linear complexes. STL reading and writing. Meshing for finite element analysis.</p>
        </div>
      </div>
      <div class="code-snippet-arrow"></div>
    </div>
  </div>

  <div id="code-snippet-row2">
    <div class="container">
      <div class="row">
      </div>
    </div>
  </div>

  <div class="where-to-learn-more">
    <div class="container">
      <div class="row">
        <div class="span12">
          <a class="learn-more-btn" href="{{ site.baseurl }}/what-is-scala.html">Learn More</a>
          <p>or visit the <a class="italicize" href="{{ site.baseurl }}/documentation">Microvessel Chaste Documentation</a></p>
        </div>
      </div>
    </div>
  </div>
</div>


{% include footer.html %}
