---
layout: default
---

{% include headertop.html %}
{% include headerbottom.html %}

<div class="splash">
  <div class="darkblue-overlay">&nbsp;</div>
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="scala-logo">
          <img src="{{ site.baseurl }}/resources/img/chaste-60-75.jpg" alt="Chaste Logo" />
        </div>
        {% include navbar.html %}
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <div class="splash-text ontop">
          <h2 style="font-weight: 700;">PyChaste</h2>
          <p class="splash-pitch">
            A Python wrapper for the open source <a href="http://www.cs.ox.ac.uk/chaste/">Chaste</a> library for multi-scale, computationally demanding problems arising in biology and physiology.
          </p>
          <a class="learn-more-btn" href="{{ site.baseurl }}/documentation.html">Learn More</a>
          <p>&nbsp;</p>
        </div>
      </div>
    </div>
  </div>
</div>

 <div class="bullet-point-box">

  <div class="where-to-learn-more">
    <div class="container">
      <div class="row">
        <div class="span12">
          <a class="learn-more-btn" href="{{ site.baseurl }}/what-is-scala.html">Learn More</a>
          <p>or visit the <a class="italicize" href="{{ site.baseurl }}/documentation">PyChaste Documentation</a></p>
        </div>
      </div>
    </div>
  </div>
</div>


{% include footer.html %}
